.env
vendor 
public/css/bootstrap/
public/bootstrap/readMe.md
public/bootstrap/css/
public/bootstrap/js/

public/assets/jquery/*.js
public/assets/jquery/*.json
public/assets/jquery/*.map
public/assets/jquery/*.min.js

public/asset 

public/404.html

app/Exceptions/Exception.php

tests
/*.zip 